.drum-pads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  padding: 20px 15px;
}

.drum-pad {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(229, 229, 229, 0.758);
  color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px black;
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: rgb(183, 183, 183);
}

.drum-pad:active {
  transform: translateZ(10px);
  box-shadow: 0px 0px 1px 0px black;
}